{sub_dirs, [
  "apps/{{projectid}}",
  "rel"
]}.

{lib_dirs, ["deps"]}.

{erl_opts, [
  debug_info
]}.

{require_otp_vsn, "R14"}.
{xref_checks,     [undefined_function_calls]}.
{cover_enabled,   true}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}},
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
]}.
